[2015-01-22 12:51] litchie opened #1 "Remove the cursors(or pointers) on iOS"
There are many different types of pointers, arrows, fingers. I am wondering if we need to keep them on iOS.

[2015-01-22 12:55] litchie opened #2 "how to implement mouse right click behavior"
By default, all touches will be translated into mouse events (left button).  But U7 needs right click to navigate around. I am thinking that there will be a toggle button at the bottom of screen. When you turn it on, touch events will be treated as right clicks.

Another question: is mouse over event important in game playing?

[2015-01-22 13:29] DominusExult commented on #1
Hmm, I'm wondering about that. Most likely no, we don't need any pointer (except for the "is blocked/can't get there").
I'll play a bit tonight with the computer version and will try to concentrate what I think of that.

[2015-01-22 13:33] litchie commented on #1
Yeah, it's a good idea. Make sense to selectively show some of them.

[2015-01-22 13:35] DominusExult commented on #2
I was thinking that at least on the ipad (and mini) size it would perhaps make sense to implement an overlay d-pad to navigate instead of the left click finger.
And maybe an option to toggle between original (touch events and button to switch) and new way (overlay dpad and right click touch event)? What do you think of that?
There is also the issue that the movement speed is normally dependent of

[2015-01-22 13:36] DominusExult commented on #2
AFAIK there is no mouse over event, btw.

[2015-01-22 13:41] litchie commented on #2
If we got DPad, then right click touch isn't really necessary, right?

[2015-01-22 13:53] DominusExult commented on #2
I'm probably confusing either left or right click but the one to move is not needed anymore. I think...

[2015-01-23 08:21] DominusExult commented on #1
So, played a little bit last night and the pointers can go. It will be strange to play without them but on a touch interface they make no real sense.

The blocked/can't get there/red cross still need to be shown when needed.

[2015-01-23 08:46] DominusExult opened #3 "Shortcut bar"
I think for a touch interface we need a shortcut bar. Exult is very driven by shortcuts even though most stuff (except for the cheats) can be done by clicking through several stuff.
Need to think about which shortcuts would be best.

[2015-01-23 14:34] litchie commented on #3
I am thinking that we can put shortcut buttons at the bottom of screen -- the actual display area doesn't cover full screen.  We can shift it up a little bit to have more room, especially for iPhone.

[2015-01-23 14:37] litchie commented on #2
The latest build has a transparent dpad on the right side of screen.

[2015-01-23 23:18] DominusExult opened #4 "so far so good"
Thanks a lot. It's working already and I had some fun messing with things.
Do you want to "hear" all the issues? :)
- the menu button is dead after first use
- the dpad works only for a couple of steps and stalls until you touch it again
- on iPhone 5s (ios 8.1.2) the keyboard did not come up when starting a new game of Serpent Isle. It seems as if the keyboard popup hangs - but looking at the cod

[2015-01-23 23:33] DominusExult commented on #4
one more
- when Exult exits it should probably really exit. For example, when there are no game files it should exit when you click on that notice. Also when you decide to quit the game.

[2015-01-23 23:34] DominusExult commented on #4
And sorry, I know, work in progress. I just find it best to write these things down...

[2015-01-24 00:30] litchie commented on #4
Great summary. I think it's better to create a separate issue for each of them (important ones).

iOS apps can't quit:-)

[2015-01-24 21:23] DominusExult opened #5 "handle various ways to exit Exult"
Since you cannot exit an iOS app, Exult needs to do away with various ways to exit
- when no game files are detected, there is a screen telling you that and on next mouse event Exult normally exits. On iOS it ends with a black screen. So it shouldn't try to exit and just keep on showing this until you end the app
- exit from the main menu (maybe remove this from iOS app main menu)
- quit from the

[2015-01-24 21:34] DominusExult opened #6 "Remove single click pop up"
I think that's code from the previous ios porting, but when you single click anything some kind of menu pops up. I think that's rather annoying :)

But it could make sense on the smaller idevices screens. No idea how feasible it is to implement this only for smaller devices.

Definitely needs to go away on ipad size.

![singleclick](https://cloud.githubusercontent.com/assets/3313896/5889122/1eb28f

[2015-01-24 21:35] DominusExult opened #7 "Changing video options kills the dpad and menu button"
changing anything in the resolutions loses dpad and menu.

[2015-01-24 21:36] DominusExult opened #8 "Menu button only works once"
the menu button is dead after first use, seems it doesn't register when the menu gump is closed again.

[2015-01-24 21:36] DominusExult opened #9 "dpad stutters"
the dpad works only for a couple of steps and stalls until you touch it again

[2015-01-24 21:37] DominusExult opened #10 "data folder sharing through itunes file sharing"
we need the data folder in the itunes file sharing as well, to throw in the music/sfx files and the mt32 roms :)

[2015-01-24 21:38] DominusExult commented on #4
made seperate issues now :)

[2015-01-24 21:38] #4 closed, assigned to nobody

[2015-01-24 21:43] DominusExult commented on #2
After playing a bit, I wonder if it can be done a bit different (while keeping the dpad):
- holding down one finger functioning like holding down the right mouse button -> Avatar follows the finger
- tapping one finger, as right now, a left click
- tapping with two fingers -> pathfind to this spot (as in the Gameplay options: right click pathfinds)

[2015-01-24 22:01] DominusExult opened #11 "Keyboard needed for savegame names"
Right now only the quicksave works because you cannot enter a name for a savegame.
- hit menu
- hit "Load/Save game"
- click on "Empty Slot"

Now "empty slot" disappears and gives way to a prompt. The keyboard should come up now.

[2015-02-07 15:41] DominusExult commented on #5
the "Quit" from the game gump could/should be replaced by "iOS Settings" and a gump for that. This could be used for iOS specific settings like toggling the click helper (issue #6) or the screen location of the dpad or...

[2015-02-08 09:40] #5 closed, assigned to nobody

[2015-02-08 09:40] #10 closed, assigned to nobody

[2015-02-08 09:40] #8 closed, assigned to nobody

[2015-02-08 09:40] #11 closed, assigned to nobody

[2015-02-08 10:42] litchie commented on #7
Where did you change the resolution?

[2015-02-08 10:43] litchie commented on #6
Aren't these action items necessary?

[2015-02-08 11:25] DominusExult commented on #7
During gameplay, press your menu button, then press "graphics options".

[2015-02-08 11:28] DominusExult commented on #6
You can do everything with the finger action.
It's only useful for small displays, so it might be good to keep it as an option.
Another problem is that these click options need to check whether they are visible on screen which they presently don't.

[2015-02-08 13:25] #9 closed, assigned to nobody

[2015-02-08 22:02] DominusExult opened #12 "the bundle has *all* the files from the /data source folder"
This is a bit over the top, since Exult only needs the flx files.
very minor issue, though :)

[2015-02-09 14:45] DominusExult opened #13 "messed up on iPhone 4 + iOS 7"
Tried it with an iphone 4, which is limited to iOS 7.
The startup screen is messed up on that.
Seems it can't tell that it should be in landscape mode:
![exultios7](https://cloud.githubusercontent.com/assets/3313896/6108329/5e10674e-b072-11e4-8c26-722d27b68477.png)

Is it limited to iOS 8 (or rather should we limit it to iOS 8)?

[2015-02-09 18:35] DominusExult opened #14 "Replace "Exit" in main menu with link to Exult homepage or forum"
Do you think it would be possible to replace the "Exit" in the main menu with "Exult Homepage" or "Help" that will open up safari with our homepage or our forum or our documentation page?
And which of those do you think are more appropriate?

[2015-02-09 18:45] DominusExult commented on #12
I'm thinking that _maybe_ it would make more sense to add a /data folder in the ios folder, move the binaries and the .h files into that. Then include that in the packaging scheme, instead of the root data folder.
That makes it seem "cleaner" to me, but not sure.

[2015-02-09 23:51] litchie commented on #12
That's exactly what I have in mind:)

[2015-02-09 23:53] litchie commented on #14
I prefer "Help", and it should go to a page that's intended for iOS version, with guide of adding games.

[2015-02-09 23:58] DominusExult commented on #14
hmm, that seems like it can be arranged :)
In this case I'd probably add an iOS section to our documentation. It got a Zaurus guide so an iOS guide is no problem. As I'm the one maintaining our documentation... :)

[2015-02-10 00:00] DominusExult commented on #14
for now pointing to our documentation at http://exult.sourceforge.net/docs.php should be fine, until there is more to show :)

[2015-02-15 03:43] #13 closed, assigned to nobody

[2015-02-15 03:43] #14 closed, assigned to nobody

[2015-02-15 03:52] #12 closed, assigned to litchie

[2015-02-17 23:05] #6 closed, assigned to nobody

[2015-02-17 23:15] DominusExult opened #15 "Change GameControl screen layout"
I've added an option setting to change the dpad screen layout in e80eb4f with the dpad being set to left, right and disabled.
Looking at the GameControl code, I don't see how to start to actually make this happen.

[2015-02-17 23:20] DominusExult commented on #3
What definitely needs to be added are shortcuts to the F2-Cheat menu and the F3 cheat map (when cheats are enabled).
The F2-Cheat menu needs keyboard input as well.

[2015-02-17 23:27] DominusExult opened #16 "The item menu pop up needs to be limited to viewable screen"
That item menu pop up (/gumps/iphone_gumps.cc/h) is sometimes not all the way on the screen and can therefore not be canceled.
- Also touching somewhere other than the buttons of this gump should close it, too.

[2015-02-18 19:00] DominusExult commented on #3
Thought some more about it and I think this should be done through Exult's gump system. Very similar to the way the facestats (Gameplay Options -> Status Bars) work.
Also using the graphics from the games. Right now I can think of the disk for menu, sword for toggling combat, map, something for target (maybe a bow and arrow target) and definitely a spellbook, maybe the keyring in Serpent Isle.
For

[2015-02-24 23:28] DominusExult commented on #3
I may be too advanced for me. For keeping a record of what I tinkered already a bit:
- Settings
          Gumps.vga shape 24, frame 0
          in SI shape 19 but it should work as been done in misc_buttons.cc
          (Gamemenu_gump *menu = new Gamemenu_gump(); see misc_buttons.cc)
          (doubleclick cheat.cheat_screen();)
- Toogle combat/peace
          Gumps.vga, shape 46, frame 0 peace, f

[2015-03-12 08:22] #15 closed, assigned to litchie

[2015-03-12 13:52] #16 closed, assigned to litchie

[2015-03-13 15:28] DominusExult commented on #16
Thanks a lot!!!

[2015-03-13 15:28] DominusExult commented on #15
Thanks for doing the hard work on this!!!

[2015-03-15 23:19] DominusExult commented on #1
Combat cursor is still shown. To enter combat mode, doubleclick the avatar and click on the pigeon in the lower left of the paperdoll.

[2015-03-15 23:29] litchie commented on #1
yes, I can see that, will get it fixed

[2015-04-03 20:16] DominusExult commented on #2
probably something like what you did in Dospad https://github.com/litchie/dospad/commit/abd950196792df7dfe3ddfa1db9000adb12aba66

[2015-04-03 20:32] DominusExult opened #17 "CoreAudio MIDI?"
I was wondering what is up with iOS' CoreAudio Midi. It's disabled for iPhone and even though I messed a bit around I couldn't get it to compile when I enabled it.
I noticed that you disabled CoreAudio in DOSPad so I wanted to ask what the matter is with it? it's not really needed and the FMOpl emu is probably much better in performance and I have no idea what the Midi sounds like on iOS, I just w

[2015-04-04 03:04] litchie commented on #17
Last time I checked it's not really supported on iOS, that is why you can't compile it.

[2015-04-04 03:06] litchie commented on #2
I agree, double tap seems to be a really good way to work around this problem, a life saver for finding path.

[2015-04-12 13:05] DominusExult opened #18 "SDL 2.0.4 iOS improvements"
in SDL mercurial, some iOS changes landed. I wonder if they are relevant for exult-ios
https://forums.libsdl.org/viewtopic.php?t=11174&sid=73b40a20ff9a31a2156542dc2076cc5f

[2015-04-12 13:07] DominusExult commented on #17
thanks!

[2015-04-12 13:07] #17 closed, assigned to litchie

[2015-05-18 13:02] andwan0 commented on #7
I play between 320x200 (zoomed so I can see those small items/rings) ... and 640x480 so I can see the map better.
Yes, changing resolutions kills the dpad & menu button... which means I have to forceibly kill the app & restart.

[2015-05-19 19:58] DominusExult commented on #1
fixed it myself just now b2aebdec28d5d55582c2c4078f58a16d0942ace6

[2015-05-19 19:58] #1 closed, assigned to litchie

[2015-05-20 22:16] DominusExult commented on #3
I made a little patch that modifies the face stats (gameplay options -> status bar -> middle) to show the disk and combat icon instead of the faces. Singleclick on the disk opens the in game menu, doubleclick on the combat icon will toggle combat (without adding a ton of SDL event stuff to differ between single and doubleclick, I wasn't able to assign both single and doubleclick events and for som

[2015-05-21 02:21] litchie commented on #3
A good start.  Now only thing to do is to put them in a new gump. For the combat button, I think we should avoid double click if possible.

[2015-05-27 08:11] andwan0 opened #19 "non pausing GUMPs still clears GUI movement controls"
In iPad branch, we have the nice GUI movement buttons (which map to the numpad).

The GUI movement buttons disappear when we open any GUMPS window.
However, in options we can set "game pause when GUMPS open" to be disabled/false.
But GUI movement buttons still disappear when we open any GUMPS window (but game is still running).

[2015-05-27 08:12] andwan0 opened #20 "REQUEST: GUI quickkeys & HUD"
1. HUD, such as compass coordinates, and watch time, and total gold, assuming we have picked up the items to display them. If you used iPad/Android, it's very tedious having to open the character, open bag, then find compass/watch/abacus.
2.  HUD quick buttons to access cheats or bag inventory for each player.

[2015-06-06 19:18] DominusExult commented on #19
The GUI movement/menu buttons were preventing the use of gumps, for example saving was near impossible. So I disabled them whenever gumps are opened. The "game pauses..." setting needs to be fixed, so the game always pauses when gumps are open.
For now, while the GUI buttons are the only way to move in the game.

[2015-06-07 10:51] litchie commented on #3
@DominusExult  You gave a long list above, I am wondering what exactly we need to put on the shortcut bar, because we have limited screen estate, especially on iPhone.  Will try to implement in the next two days.

[2015-06-07 13:36] DominusExult commented on #3
8 shortcuts should work fine, it does for the party faces in the status bar. All 9 should probably work as well. I added some additional notes in the list above about what needs to be checked and when to display some shortcuts (the gameplay shouldn't have all available right away - spellbook for example requires you to have one - in SI it takes a while before you have one).

Another thing to pay a

[2015-06-11 12:07] litchie commented on #3
Where did you find those shape numbers and frame numbers? I am having trouble loading the shapes.

[2015-06-11 13:20] DominusExult commented on #3
I found those with Exult Studio. But you can see a way of loading them in gumps/misc_buttons.cc/h

[2015-06-11 13:23] litchie commented on #3
Thanks. Much better than magic numbers!

[2015-06-11 13:41] DominusExult commented on #3
(And make sure it's the right vga file ;))

[2015-06-11 13:59] DominusExult commented on #3
Another was to browse the shapes is with the in game shape browser (ctrl-b and cheats enabled). But you need to run the desktop version ;)

[2015-06-12 10:25] litchie commented on #3
Just found that shapes painting behaves not as I assumed.  Its painting area can extend to the left of the origin point, which is quite different from image drawing we see elsewhere.  It's not that I couldn't load those shapes, they were just drawn outside window area!

[2015-06-12 10:36] DominusExult commented on #3
Ouch! Frustrating

[2015-06-14 13:57] litchie commented on #3
There are still things to do:
1. fix transparency
2. align the shapes better
3. fill in missing action code
4. show cheat buttons only when cheat is enabled?

![1](https://cloud.githubusercontent.com/assets/1026634/8148819/556fac1e-12e0-11e5-97e1-5625b8a4bf9d.png)

[2015-06-14 14:24] DominusExult commented on #3
1. I think it _might_ be possible to assign a color to transparency for the gump only.
   Otherwise, and looking at the other buttons, I'll make a transparent disk, peace/combat icon AND MAKE bigger shapes for the other buttons (seems like 1.5x scale for those). Then add them to the iphone.flx.
2. none of the buttons are cheat only, just some of the actions are (cheat map, cheat screen). The spell

[2015-06-14 14:25] DominusExult commented on #3
2 should be concerning 4. Github auto "corrected" this

[2015-06-14 14:40] litchie commented on #3
It would be great if you can make custom shapes for those buttons. Currently they are inconsistent in style and size :-)

[2015-06-14 15:12] DominusExult commented on #3
Ha, I wish I was a pixel artist - I can only hope to make them bigger and not have it look worse ;)

[2015-06-23 22:13] DominusExult commented on #3
had sometime to look at it finally.
Some issues (apart from having to do some pixel art somehow :)):
- maybe doubleclick is not the right way to access secondary functions of the buttons. The way doubleclick is recognized by first doing the singleclick option might be problemtatic. Maybe a tap+hold for some seconds? is that feasible?
  as per https://developer.apple.com/library/ios/documentation/E

[2015-06-23 23:55] litchie commented on #3
If we are to implement the shortcut bar as a standard iOS control floating on top, we can use all kinds of gesture recognizers for free.  Doing gesture recognition with plain SDL API is painful if not impossible. If we need to keep the shortcut bar as a gump, then I think perhaps we can run iOS gesture recognizer directly on SDL Window, and translate the results (and coordinates) to the shortcut b

[2015-06-25 21:24] DominusExult commented on #3
I _think_ keeping it as a gump is better because this way the buttons get scaled alongside the game window, depending on the scaler that is set in the graphics options.
Perhaps the doubleclick needs to be detected the painful way that Exult uses generally for detecting a doubleclick (for example clicking on the avatar vs doubleclicking) instead of the iOS way you are using AFAICT. (for example the

[2015-06-28 23:01] DominusExult commented on #3
added some button actions and added some comments. Is it possible to reuse the ActionFuncs from keyactions.cc? A lot of those would be nice to just be able to reference the function instead of rewriting it.

The doubleclick actions are a bit hit and miss :)

[2015-06-29 22:31] DominusExult opened #21 "Shortcutbar implementation crashes Exult on loading a savegame"
e12c5bc8b84fee473cc8ac3078a8e9568de845ef make Exult crash on loading a savegame.

Steps to reproduce:
- start a game
- save
- load this savegame

Something in the cleaning up of the gump is crashing according to Xcode.

[2015-06-29 22:39] DominusExult commented on #3
Some buttons should only show when the corresponding item is in the party inventory. For this I added the "is_party_item" function in 7d976089a648e64408651f9e0b316cb097c6c713
Is it possible to leave blend out buttons in the middle of the bar (for example the spellbook)? I have no clue how to go about this because of the enumeration.
Related to this, can the gump "update" when it finds the items in

[2015-06-30 02:16] litchie commented on #3
Do you want to hide it temporarily while keeping its place or do you want to remove it totally from the bar?  I guess we will need to add a flag to the BarButtonItem struct, such as:

[code]

Before drawing, we can check inventory and update hidden flag accordingly. So when we are drawing the bar buttons, we will skip those hidden=true items.

[2015-06-30 06:35] DominusExult commented on #3
Hmm, removing it and having the next button take its place would perhaps look cleaner.

But another idea is to have a "greyed out" icon for those buttons that are not available yet.

What do you think? 4 possibilities:
- show the button and just not have it working
- show a greyed out button and not have it working
- hide the button
- remove the button and have the next working button shown

[2015-06-30 08:16] litchie commented on #3
I prefer a greyed out button when the button is not working. The problem is that there don't seem to be a ready-to-use shape drawing function that can draw the same shape with different transparency.

[2015-06-30 08:46] DominusExult commented on #3
Then  greyed out it is ;)
And I'll make a greyed out button for those. Should be doable.
I _have_ to do some buttons for sure.

For example the keyring in SI doesn't look bad in the bar, but it has some color cycling, making a key appear to glow, which is too distracting in the bar.
The combat/peace brown background issue can be solved by copying the shapes from SI because in that game they alread

[2015-06-30 08:51] litchie commented on #3
Great. You may need to cache inactive state shape in the BarButtonItem, along side with the normal state shape we already have.

[2015-07-02 21:02] DominusExult commented on #3
All buttons work now.
Overall the shortcut bar seems a bit unstable. Especially the buttons that call the green crosshair (key, keyring, lockpick, target, feed) seem at times disruptive. Can't quite reproduce always.

I've added the notebook and the cheat screen (doubleclick notebook) as well, but both need a keyboard.

[2015-07-03 02:42] litchie commented on #3
The handling of double click on notebook is problematic. I think we should keep just one function for most buttons, at least before we can implement the double click correctly. For now, please put a guard around the handling code in onItemClicked:

[code]

Btw: Do we really need the cheat screen? Can't cheats be made by editing a config file?  Bringing up a soft keyboard will always cover at least

[2015-07-03 02:50] litchie commented on #3
Just did a build, nice to see buttons in action!

Like I commented above, some of the buttons may not function correctly because we try to do two things for a button.   In current implementation, a double click will first trigger a single click event, then a double click event.  I'll try to find a fix, for now, please assign only one function to one item.

[2015-07-03 16:09] DominusExult commented on #3
Unfortunately cheats only work through keyboard shortcuts or the cheat screen.
Two things I'm considering:
- adding a settings gump for toggle cheats (god mode, archwizard, intravision, hackmover etc.)
- making a special iphone version of the cheat screen that only uses half the screen. Not every cheat needs to be in the ios version (those that change schedules) but things like teleport to npc or

[2015-07-05 00:14] DominusExult commented on #3
I've tried my best on the icons but unless I doubled their size, which is too big, I wasn't successful with good looking ones. Needs a better pixel artist :(
I'll do the  if (!doubleClicked) changes next time.

I made some greyed out shapes for the spellbook and jawbone but I have no idea how to go about

[2015-07-05 00:26] litchie commented on #3
Just give me the shape numbers, I'll do the state change code.

[2015-07-05 07:52] DominusExult commented on #3
Thanks!
The BG Spellbook is ShapeID(6, 0, SF_IPHONE_FLX), the greyed out one ShapeID(6, 1, SF_IPHONE_FLX). The SI spellbook is ShapeID(6, 2, SF_IPHONE_FLX), greyed out ShapeID(6, 3, SF_IPHONE_FLX). See gumps/iphone_gumps.cc:115 and following.

The Jawbone (SI only - if you haven't played through SI yet, it's a teleportation device) is ShapeID(4, 0, SF_IPHONE_FLX), greyed out ShapeID(4, 1, SF_IPHON

[2015-07-14 20:14] DominusExult opened #22 "Savegame gump and instant name change keyboard popup"
When you open the savegame gump and select an existing savegame, instantly the name change iphone keyboard pops up and you need to hit cancel when you just want to load this save.

I have no idea if that can be made to work differently, maybe it can be first selected and _then_ on another click/tap pop up the keyboard.

[2015-07-18 20:00] DominusExult commented on #3
Hmm, spent some more time looking at the shortcut bar code.
I _think_ it needs to be more similar to the face_stats.cc/.h, registering the buttons as Gump_button and then being able to use on_button for single click and double_clicked for the double click.

Also reusing the autorefresh of the face_stats would help as well. I've dabbled a bit in the position of the bar to make it auto align with th

[2015-07-19 03:14] litchie commented on #3
I don't have access to the dev machine right now, but there is one quick thing you can check: double click on the Face_stats button, and see if the on_button is called at all (by adding a printf statement inside that function). If no, then we can copy what they did; if yes, then it's exactly the same behavior as our current implementation.

[2015-07-19 05:25] DominusExult commented on #3
I'll do the tests tonight (GMT) but just by observing it seems the single click doesn't get used when you doubleclick.
On single click on a face in the face stats the name of the party member willbe written above the party member.
When you doubleclick the inventory of the party member opens without the name being written.

[2015-07-19 22:54] DominusExult commented on #3
apologies, the result of the printf is that it does indeed register a single click on the face as well.
But I don't understand what happens next since the doubleclick on the face buttons works so much better than the shortcut gump ones...

[2015-07-19 23:00] DominusExult opened #23 "separate gamepad and btn1 from touchui->hideGameControls()"
The ESC button is quite useful and should maybe be separate from the gamepad when hiding. The gamepad is almost always in the way when gumps are on the screen but the ESC button is just in the way of the savegame gump.
So if they are separate it gives more control.

(I might be able to do that on my own - just adding to the list so I don't forget)

[2015-07-19 23:01] DominusExult opened #24 "Choice of shortcut bar buttons outline"
The iOS settings gump could control the color of the shortcut buttons outline or disable it.

[2015-07-19 23:03] DominusExult opened #25 "Shortcut bar greyed out Jawbone has pixel problem"
The jawbone's upper left pixels are glowing, I need to use another color for that part.

[2015-07-23 23:40] #23 closed, assigned to nobody

[2015-07-23 23:41] DominusExult commented on #23
done with commit 7ea2bd0

[2015-08-15 10:28] DominusExult commented on #2
After having my 12 years old nephew play a bit, it's clear that my above movement ideas are the way to go besides the dpad.
He really struggled an expected there to be some kind of one finger movement.

(He also quickly lost interest because he couldn't kill Iolo right away, nor an unlocked door and the guards made short work of him... Also "reading all this English stuff? Noooooo waaaaaaayyyyyy!"

[2015-08-15 10:49] litchie commented on #2
double tap as right click? Will try to port that over.

[2015-08-15 12:05] DominusExult commented on #2
And is moving by holding down the finger feasible?

[2015-08-15 12:40] litchie commented on #2
Currently holding down a finger is like holding the mouse left button. Technically it may be possible if we want to interpret short clicks as left button, and long holds as right button. But I am not sure that it won't cause other problems.

[2015-08-15 20:00] DominusExult commented on #2
"I don't see any possible problem!"
 Famous last words on the Titanic ;)
It might be worth a shot, though.

[2015-08-26 10:21] DominusExult opened #26 "Quicksave when switching from Exult"
I think it might be a good idea to use the quicksave feature when closing/switching from Exult.
When playing it would need to recognize the switch (I think that's possible in SDL) then execute our quicksave action (via keyboard it would be ctrl-s, I can't look at the code right now to look up the function).
When starting Exult again, the quicksave is loaded on "continue onward".

[2015-10-15 00:37] DominusExult commented on #21
Tried to debug this more but didn't succeed. Something with the gump is not right and the cleanup fails...

[2015-10-15 08:01] litchie commented on #21
This is in fact a regression. Will fix it as soon as possible.

[2015-10-15 08:59] DominusExult commented on #21
Heya, thanks for the crash fix, but now the shortcutbar is no longer there on loading a savegame :)

[2015-10-15 09:01] litchie commented on #21
Are you sure? I still have it after load a game.

[2015-10-15 09:07] litchie commented on #21
If you are still seeing this bug, can you share a saved game file so that I can try to reproduce the problem?

[2015-10-15 09:21] DominusExult commented on #21
Actually the shortcut gump does not show at all anymore with this change. Clean build, clean exult.cfg, either starting a new game or loading a savegame.
(btw. you comitted some autotool files (compile, config.guess, missing))

[2015-10-15 22:48] DominusExult commented on #21
Just tested it again.
No luck with Xcode 7.0.1 and an iPad on iOS 9.0.2.
No luck with Xcode 7.1 beta 3 and an iPhone 6 on iOS 9.1 beta5.
In both cases the shortcut bar is no shown with these changes :(

[2015-10-16 00:48] #21 closed, assigned to litchie

[2015-10-16 15:34] DominusExult commented on #3
More investigation:
The way Exult differs between single and double clicks is different and "works" better because it filters out single clicks when it is actually a double click. That's why you see a short delay when you click on a face in the face status bar.
SDL's event->button.clicks function doesn't do that, mainly because it will always add a delay when you try to differ.

So, to make the sh

[2015-10-17 01:41] litchie commented on #3
You are seeing more clicks because that's the way SDL double click works:

[code]

I did a fix on this issue: f28a2f4

[2015-10-17 13:51] DominusExult commented on #3
Whoa! Thanks a lot. WAY more complicated than I thought.
I'll clean up this issue and will file seperate issues for the remaining "problems" (combat button updates, button updates when buttons come available or not)

[2015-10-17 17:50] DominusExult commented on #22
looking at https://github.com/litchie/exult-ios/blob/master/gumps/Newfile_gump.cc#L801
it seems to me that if (selected == -2 || selected >= 0) would need to be split and if (selected >= 0) would need an extra rule to only promptForName if there is another click on this field.

[2015-10-18 20:00] DominusExult opened #27 "Notebook gump - needs text input"
The Notebook gump (gump/Notebook_gump.cc) needs text input if possible.

[2015-10-18 20:04] DominusExult opened #28 "Cheat screen - needs text input"
The cheatscreen (cheat_screen.cc) needs a text input mode as well.

I'm currently working on cramping the text in the upper half of the screen, so a keyboard will not overlap the text.

It might be nice if the keyboard only comes up when you tap the screen and when you change cheatscreen screens it disappears again until you tap again.

[2015-10-18 20:07] DominusExult opened #29 "Shortcut bar - changing resolution, enabling aspect correction messes click location"
when you change resolutions or enable aspect correction (which you kind of need to do on an iPhone - on an iPad aspect is fine with a top bar) the clicks don't align properly with the buttons anymore.

I've dabbled a bit in the position of the bar to make it auto align with the top, regardless of resolution and aspect correction state.
Currently I have this:
void ShortcutBar_gump::createButtons()

[2015-10-18 20:17] DominusExult opened #30 "Shortcut bar - update on new items, combat, resolution changes"
The shortcut bar needs some kind of auto updating when things change (similar to the face_stats).
- change of resolution leaves the shortcut bar invisible until you restart Exult. The clicks seem to fit the position the buttons should be at
- some buttons only work (e.g. from greyed out shape to color shape) when the item is in the party. The shortcut bar needs a restart of Exult to show these cha

[2015-10-18 20:22] DominusExult opened #31 "ESC button doesn't restore the virtual gamepad sometimes"
Except for the menu gump, every other gump that gets closed by the ESC button doesn't restore the virtual gamepad.
Examples:
- double click the Avatar, paperdoll opebs, hit ESC, gamepad is missing. If you close the gump with the checkmark, gamepad shows.
- click any of the buttons in the shortcut bar that open a gump (backpack, spellbook, map, jawbone (SI), notebook) -> same as above.

[2015-10-18 20:23] DominusExult commented on #3
Split the remaining issues with the shortcut bar in separate items and closing this one for better overview.

[2015-10-18 20:23] #3 closed, assigned to litchie

[2015-10-18 20:32] DominusExult opened #32 "Shortcut bar overlaps Save gump"
When aspect correction is enabled the shortcut bar overlaps the Save gump (gump/Newfile_gump.cc) on first appearance of the save gump.
When you click on the save gump below the shortcut bar, the shortcut bar vanishes but the place where the shortcut bar buttons are normally, is not useable for interaction with the Save gump.

To reproduce:
- enable aspect correction in the graphics options (and re

[2015-10-18 20:47] DominusExult opened #33 "Shortcut bar crashes "Setup" in main Exult menu"
Commit 388eba5 breaks the Setup menu.
I had removed these in bce2c6c because they are crashing the "Setup" in the Exult main menu (where you can chose the game you want to play).
So this gets a bit more complicated :(

[2015-10-18 21:54] DominusExult commented on #31
fixed by 5d2425e (next time I'll remember to use the correct commit syntax to auto close an issue :))

[2015-10-18 21:54] #31 closed, assigned to nobody

[2015-10-19 01:03] litchie commented on #33
Good catch! I wasn't aware of that:D

Will look into it.

[2015-10-19 19:25] DominusExult commented on #33
With the following patch, there is no crash in the Exult Setup and in game the shortcut bar seems to work as before. Saving/loading a game works as well.
Good to go or is there an obvious catch?

[code]

[2015-10-19 20:41] DominusExult commented on #28
made the Cheatscreen much leaner with b17da23 - sadly a _lot_ of #ifdef **IPHONEOS**

[2015-10-19 23:27] DominusExult commented on #7
I've traced this back to
https://github.com/litchie/exult-ios/blob/master/gamewin.cc#L920

[code]

commenting that makes video changes not kill the touchUI - of course then every video change is not taking until you restart :)
This is as far as I can debug it :(

Quickest way to test is:
- start a game
- hit esc
- hit Video Options
- hit **Apply**

[2015-10-19 23:31] DominusExult commented on #30
I tried to copy from face_stats and made this **NON-WORKING** patch

[code]

Hoped that might work :(

[2015-10-19 23:39] DominusExult commented on #20
1. this is not as easy as it sounds :)
   - for time, compass and coordinates you can use the new shortcutbar, double tap on the notebook and the cheatscreen will tell you these.
2. such a hud filled with the many arrow types (plain, magic, sleep, bolts, magic bolts, ammunition for the musket and many more arrow types in SI) and many gold types (gold coins, gold bars, gold nuggets, filari, monetar

[2015-10-19 23:39] #20 closed, assigned to nobody

[2015-10-20 12:12] #33 closed, assigned to litchie

[2015-10-20 12:20] litchie commented on #28
I forget how to enter cheatscreen...

[2015-10-20 12:24] DominusExult commented on #28
double click the notebook, the greenish book, in the shortcut bar :)

[2015-10-20 13:03] #28 closed, assigned to nobody

[2015-10-20 16:39] DominusExult commented on #28
Many thanks, it works nicely. Exult is now much more fun with the shortcut bar working quite nicely now.

[2015-10-20 23:20] litchie commented on #28
You did a great job cleaning up the cheat screen:-)

One thing I am wondering is if older iPhones have the hide keyboard button in the virtual keyboard. If not, it could be a problem. Too bad I don't have such a device to confirm.

[2015-10-20 23:24] litchie commented on #26
Good idea.

[2015-10-20 23:28] litchie commented on #27
One problem is that keyboard will occupy a large portion of the screen, and it could cover up the UI. Need to do some adjustments like cheat screen, but this may be more difficult.

[2015-10-22 00:01] #25 closed, assigned to DominusExult

[2015-10-22 00:04] DominusExult commented on #27
hmm, we should be able to shift the notebook gump higher up to give more room. That might need to suffice even though not the whole page will be available :(

[2015-10-22 00:07] DominusExult commented on #28
Tested with my old iPhone 4 which is on iOS 7 -> unfortunately no hide keyboard button :(

[2015-10-22 00:12] DominusExult opened #34 "Cheatscreen - prompt in NPC tool needs fix"
The prompt in the NPC tool and its subscreens needs to be back on the bottom. Screen is too full :(

Will try to fix it.

[2015-10-23 22:29] DominusExult opened #35 "Item loss with shortcut bar"
Bad bad bug!

When you have aspect correction enabled the shortcut bar hovers "in" the game.
Now, grab any item and drag it over any button
-> the action of the button will start and when you end this, the item is gone. For example, drag it over the notebook button, the notebook will open, close the notebook with ESC -> item gone.

I _think_ that's one of the reason the face_stats gump is checking

[2015-10-25 10:27] DominusExult commented on #35
hmm, seems the invisible gump somehow acts as if you can drop things on it. Also happens if you have aspect correction disabled.

[2015-10-27 16:31] #19 closed, assigned to DominusExult

[2015-10-30 20:07] DominusExult commented on #7
with breakpoints set in xcode the point when it goes bad, the TouchUI disappears, is at https://github.com/litchie/exult-ios/blob/master/imagewin/imagewin.cc#L1023

[2015-11-05 16:09] #35 closed, assigned to litchie

[2015-11-05 16:12] DominusExult opened #36 "Shortcut bar - dragging item on gump presses button"
With fix for issue #35, it's apparent that dragging an item onto the shortcut bar is behaving as if you clicked a button on it. This shouldn't be.
Probably needs a check for dragging item in the iphone_gumps.cc

[2015-11-06 00:28] #36 closed, assigned to nobody

[2015-11-24 00:12] DominusExult opened #37 "Shortcut bar - change owner to gamewin (gamewin.cc)"
I think a big source of some shortcut bar problems is that it is created in exult.cc while it should just be in gamewin.cc.
The example of the previous keyboardgump was maybe misleading because that gump was supposed to be visible all the time, including the Exult menu etc.

This opens another set of problems, though:
- NO interaction possible yet with the shortcut bar
- in the SDL_MOUSEUP/DOWN ev

[2015-11-25 10:40] DominusExult commented on #7
when I comment the condition
´´´
if (dpad == nil) {
´´´
in - (void)showGameControls of ios_utils.mm the TouchUI will reappear when I close the settings gump, Of course this is no solution as it will put layers upon layers on the TouchUI :)
But it may point you where the problem is...

[2015-11-26 17:14] DominusExult commented on #7
awesome! many thanks!

[2015-11-27 01:01] litchie commented on #7
My problem is that screen will shrink by half to the center after resolution change, which makes touch very difficult. I don't know if that's ok.

[2015-11-27 07:04] DominusExult commented on #7
That should only happen if you set scaler to 1 and fill mode to center.
With which graphics options does that happen to you?
(Also a big problem is that the "touch zone" isn't alligned with the shortcut button on other resolutions than the default one)

[2015-11-28 01:42] litchie commented on #7
Yes, I guess it's exactly what I did. I am wondering what's your settings?

![video options](https://dl.dropboxusercontent.com/u/18357422/exult/20151128-resolution-change-opt.png)

![The display](https://dl.dropboxusercontent.com/u/18357422/exult/20151128-resolution-change.png)

[2015-11-28 06:31] DominusExult commented on #7
To debug the varios shortcut bar things?
Change back to "scaling 2" but enable "aspect correction" to see how it doesn't apply the changes to the shortcutbar rendering until you restart exult.
Or give Exult a bigger resolution and set game area to auto to experience the problem of click area no longer alligning with the shortcutbar button.

[2016-03-04 23:16] #37 closed, assigned to litchie

[2016-03-04 23:16] DominusExult commented on #37
done with 6df4497

[2016-03-04 23:17] DominusExult commented on #32
it still overlaps at first but you can now save again 6df4497

[2016-03-04 23:28] #30 closed, assigned to nobody

[2016-03-04 23:30] DominusExult commented on #30
All these are now working (needed ownership changed from exult.cc to gamewin.cc) in 6df4497.
Only problem is that the Aspect correction doesn't update the shortcut bar, so it is hidden until a restart.

[2016-03-04 23:34] DominusExult opened #38 "Toggling Aspect Correction hides or misplaces shortcut bar until a restart"
When you enable AC, the shortcut bar doesn't get updated and is still in the now out of visibility black screen until you restart.
If you had AC enabled and you toggle it off, the Shortcut bar doesn't get moved ot the top of the screen but remains where it was with AC.

[2016-03-05 21:48] #29 closed, assigned to nobody

[2016-03-05 22:30] #38 closed, assigned to nobody

[2016-03-06 09:48] #26 closed, assigned to litchie

[2016-03-06 12:49] DominusExult commented on #32
overlap fixed by 9666b92

[2016-03-06 12:49] #32 closed, assigned to nobody

[2016-03-06 15:44] DominusExult commented on #22
@litchie can you add a special case to ios_utils.mm so that when you call that from https://github.com/litchie/exult-ios/blob/master/gumps/Newfile_gump.cc#L805 it will _select_ the TextField but will only call - (void)promptForName:(NSString*)name when you select it again?

[2016-03-06 15:53] DominusExult commented on #18
Now that SDL 2.0.4 was actually released I really wonder if it was worth updating. Sadly it's not just a mere exchange of the two versions possible.

[2016-03-07 21:39] DominusExult commented on #27
I think it is useable now.
It _only_ needs UITextView for both pages. But that is beyond me :)

I did have to cheat with the checkmark that closes the notebook. Even though I made the shortcut bar ignore events when the notebook is open, closing the gump via the checkmark "bled" through to the shortcut bar and registered as click on the Disk button. Seems as if the notebook gump gets closed with m

[2016-03-10 23:05] DominusExult commented on #27
You can enable Textinput by the following patch but it doesn't work correctly:
- using return to get to next line will close the keyboard and
- tapping on the notebook gump doesn't reopen it

[code]

[2016-03-20 18:30] DominusExult commented on #24
Added by Malignant Manor through the sync with upstream Exult

[2016-03-20 18:30] #24 closed, assigned to DominusExult

[2016-03-22 16:21] #34 closed, assigned to DominusExult

[2016-04-28 02:33] ptgeorge opened #39 "My contributions"
I'm not showing on the contribution graph and my contributions are sort of showing as attributed to "lanica" when I look at "blame".  Unfortunately, "lanica" is registered to someone else on github.

[2016-04-28 06:16] DominusExult commented on #39
This is due to the way this svn2git was done. No one is being recognized as having contributed before Litchie added this fork.
I think there is nothing to be done.

[2016-04-28 06:16] #39 closed, assigned to nobody

[2016-05-02 14:02] paultzirides commented on #27
Had an issue with a bluetooth keyboard connected, will try to reproduce again.

[2016-05-02 22:42] DominusExult opened #40 "Bluetooth keyboard"
I wonder if we support that.
Judging from the below commit to Dospad and @paultzirides report in #27  , I doubt we do.
https://github.com/litchie/dospad/commit/369b82d1c1f34d94055b7d0a84aaa117551ff777

[2016-05-02 22:43] DominusExult commented on #27
@paultzirides I think Exult for iOs might not work with Bluetooth keyboards yet. Judging from https://github.com/litchie/dospad/commit/369b82d1c1f34d94055b7d0a84aaa117551ff777 (which is a commit to Dospad (DOSBOx port for iOS) we might need to implement this as well.
I opened a new issue (#40) and if you can confirm problems with a bluetooth keyboard please answer in that issue.

[2016-05-13 19:11] DominusExult opened #41 "D-pad prevents clicking on talk items"
When you leave the d-pad on the right it can "overlap" talking points and thus prevent you cliking on them.
Solution: hide d-pad when talking.

[2016-05-14 00:11] #41 closed, assigned to DominusExult

[2016-05-14 00:46] DominusExult commented on #18
I think with SDL 2.0.4 (or rather actual mercurial of SDL2) using SDL_WINDOW_ALLOW_HIGHDPI and
SDL_GetRendererOutputSize should work better. Exult might need to be switched to fullscreen instead of windowed.
I have no clue how to add SDL_WINDOW_ALLOW_HIGHDPI
SDL_GetRendererOutputSize :(

[2016-05-14 08:38] DominusExult commented on #40
Aaaand, most likely not able to implement it correctly as the usual way this works at the moment is by using a private API which isn't allowed by Apple and likely to get us banned from TestFlight.

[2016-05-14 08:47] litchie commented on #22
Just trying to following up on this issue: is it that the alert dialog shouldn't show immediately?

[2016-05-14 08:54] DominusExult commented on #22
is that called "alert dialog"?
What I mean is:
- open the save/load gump
- tap on an existing save
- the iOS name entry dialog and keyboard pop up

But most people will not want to change the name but just want to load an existing savegame - so maybe it (alert/name entry dialog) should pop up on second tap on a savegame.

Also, the alert pops up a second time when you do the above steps,
 then pre

[2016-08-26 05:06] DominusExult opened #42 "Initial game scenes mess up the virtual gamepad"
The gamepad hiding and showing is not working correctly for both BG and SI. I'll investigate

[2016-08-27 15:33] DominusExult opened #43 "Wizard Eye spell not "moveable""
When you cast Wizard Eye, you should be able to use the spell view like you normally use the Avatar. But it is not reacting to the d-pad.

[2016-08-29 09:21] #42 closed, assigned to nobody

[2016-08-29 18:28] DominusExult commented on #43
I'm failing at this. The problem is that the Wizard Eye spell is not handling keyboard input, just Mousemotion and I can't adapt the current code to use the dpad for that.
@litchie can you take a look?

To test: download this savegame, unzip, put it into save/blackgate, start Blackgate, start a game, load this savegame ("wizard eye"), tap the spell book in the shortcut bar (black book in the middl

[2016-08-30 01:33] litchie commented on #43
I haven't run the game yet.  I am thinking that if dpad is used for moving around, can we also use it for shifting wizard eye? Can't we use touch events?

[2016-08-30 05:05] DominusExult commented on #43
yes, using the dpad would probably be easiest, moving it around with the finger would be great, too.

I couldn't adapt the existing code for moving the avatar via the dpad, as that is using joystick movement to mimic keyboard events. But the wizard eye spell is only controllable via mouse.

[2016-08-31 13:31] #22 closed, assigned to litchie

[2016-08-31 21:04] #27 closed, assigned to nobody

[2016-09-01 20:08] DominusExult opened #44 "Notebook gump Textinput stops after hitting return"
I _hacked_ around this by adding SDL_StartTextInput(); after hitting Return see https://github.com/litchie/exult-ios/commit/35f5399bbef49ef597baee2cfcd53cfcb556bf64#diff-ae7b187c51fe5883955c1d666172cdf3R664

But this makes the iOS keyboard flicker since it stops and starts Textinput.
My guess is that this is an iOS code issue that it sees _Return_ as some kind of _done with input_.

To test, start

[2016-09-01 20:46] DominusExult commented on #7
My recent commits broke this again. Will see what I broke tomorrow. Sorry

[2016-09-02 18:56] #7 closed, assigned to DominusExult

[2016-09-11 20:06] DominusExult opened #45 "De-hardcode SDL2 changes"
There are some changes to the SDL 2.0.3 code done to make Exult work on iOS. Preferably these changes should be done in our code to make SDL just a drop in.
AFAICT by looking at other projects it might be possible to do this via the SDLUIKitDelegate subclassing I added in 84c773210c7cc60581b6e3a70e7606261481332f.
A good example is the iOS port of GemRB and their Cocoawrapper which also uses an SDL

[2016-10-10 09:24] DominusExult commented on #2
GemRB is using touch events for movement, see https://github.com/gemrb/gemrb/blob/master/gemrb/plugins/SDLVideo/SDL20Video.cpp#L475

[2016-10-11 08:15] DominusExult opened #46 "Long touch circular animation *while* touching"
in 939dfd548f1cc7fdb3da12d4d6a613b50183b69a I added the possibility to auto-pathfind when touching with a finger longer than 500 ms. When you release the finger I added a growing circular animation (it's a spell effect from the original game).
It would be better to have this animation _while_ holding the finger to signal that the long touch has registered.
But this would need another timer on the

[2016-11-07 08:47] DominusExult opened #47 "Virtual d-pad only using 4 directions instead of 8"
the virtual d-pad only moves  up/down/left/right and not the in between directions.

[2016-11-12 11:07] DominusExult opened #48 "Magic carpet is not moving correctly in west/east"
When trying to fly the magic carpet west, it goes southwest instead. When flying east, it goes southeast instead. North/south functions normally, but I constantly have to make nothernly course corrections to compensate for the carpet's movement

I'll add a savegame later

[2017-02-04 16:09] DominusExult commented on #47
@litchie any chance that you could take a look at some of the issues? :)

[2017-05-01 19:52] #47 closed, assigned to litchie

[2017-09-30 02:09] Cross22 opened #49 "Exult build fails with header file not found"
Building with XCode Version 9.0 (9A235)

Error message:
msgfile.cc:34:10: 'ios_state.hpp' file not found

[2017-09-30 02:36] Cross22 commented on #49
expack & exult projects need to have the "/headers" directory added to their Header Search Paths to resolve this.

[2017-10-06 10:26] DominusExult commented on #49
Thanks, I'll look into it this weekend. I might have added the headers with the absolute path since I didn't notice a problem.

[2017-10-07 14:24] #49 closed, assigned to DominusExult

[2017-10-07 14:25] DominusExult commented on #49
two headers were hardcoded by accident. Should work now (did for me in a different folder).
Thanks again for noticing and reporting this!

[2017-10-07 23:55] DominusExult commented on #44
This is an issue of SDL2 and can only be hacked by calling the keyboard again and again or hacking the keyboard code in SDL2 sources. I‘m leaning towards the latter.

[2017-10-07 23:59] DominusExult opened #50 "Notebook gump can‘t be closed in iOS 11"
Since we always auto-open the keyboard after Return closes it, the iOS 11 keyboard isn‘t closeable anymore.
The notebook gump needs a manual closing button.

Also the help menu needs to be disabled in notebook mode.

[2017-10-08 13:36] #44 closed, assigned to DominusExult

[2017-10-08 13:37] #50 closed, assigned to DominusExult

[2017-10-10 21:06] #43 closed, assigned to litchie

[2017-10-11 08:41] DominusExult commented on #45
Commits that changed SDL 2.0.3 code:
- f167ef113bba7ab06f1683b3961b5959b74582aa
- 77e1edeea1e70379d001e24ba86d7afc16ec2b2c
- 84c773210c7cc60581b6e3a70e7606261481332f remedied the former commit somewhat by hijacking SDLUIKitDelegate but not completely
- 5084a227295a020d455b2247adaf5b03ba27a17b adjustments for iPhone4/iOS7 which is redundant these days (target iOS 8)
- 29a32861977c851b71b632fcdf1399

[2017-10-11 08:45] DominusExult commented on #18
Closing this in favor of issue #45 which gives a better overview of what was changed and where the problematic areas are.

[2017-10-11 08:45] #18 closed, assigned to nobody

[2017-10-11 14:17] DominusExult commented on #48
This is an upstream issue. Moving the carpet in "normal" Exult via arrow keys/numpad also leads to strangeness in east/west directions.

[2017-10-11 14:17] #48 closed, assigned to nobody

[2017-11-25 01:45] DominusExult commented on #45
Partially fixed this in the commits on the November 25.
The remaining changes to the SDL2 sources are in 785400f8747394ef59d114716c571ac368d342b3
- src/events/SDL_mouse.c : make double_click_radius bigger to fix big fingers
- src/video/uikit/SDL_uikitviewcontroller.m: Do not stop Text Input after hitting Return

- src/video/uikit/SDL_uikitwindow.m: fix our borked SDLUIKitDelegate hijacking - this

[2017-11-26 15:47] DominusExult commented on #45
Closing this now. SDL2 is now a pure drop-in.

I still need to figure out how to run it in HighDPI but so far so good.

[2017-11-26 15:47] #45 closed, assigned to nobody

[2018-01-13 16:39] DominusExult opened #51 "Savegame gump overwrite warning restores onscreen controls when the savegump is still open"

[2018-01-13 17:05] #51 closed, assigned to DominusExult

[2018-01-15 13:51] agustincordes commented on #46
I've been playing both Ultimas on my iPad this weekend, and this is an *exceedingly* good work. They both play very well with minimal glitches. The main drawback is precisely the virtual D-pad (feels too erratic) and this implementation of pathfinding (too slow).

My suggestion is to rethink this, and I believe the best solution may be trivial to implement: it's basically what many iOS games do, a

[2018-01-15 22:00] DominusExult commented on #46
It's all true, a good start would be in designing a virtual joystick that emulates the mouse movement (at a fixed spot like the virtual d-pad). The virtual d-pad sucks because it uses the keypad movement of Exult and a fixed speed. Works somewhat with just the avatar/party movement, but shows its horror when you have to move barges.
BUT I'm over my head with that, I can bluff my way around with lo

[2018-01-15 22:08] DominusExult commented on #46
Two finger movement is not really an option on the iphone screens.
Again a big BUT, though, *maybe* a different two fingers approach could work:
A virtual button, that while pressed with one finger, puts you in movement mode, so the second touch controls the party.
So the virtual button can be on the left or right of the screen (configurable same as the d-pad) and the other other input leads.
Not

[2018-01-16 15:03] agustincordes commented on #46
I think it's a great idea! So yes, that way you can toggle movement mode with your left finger and move the party with your right one (or vice versa).

I'm not sure the implementation is straightforward, though. On the other hand, I don't think either Ultima is really playable on the smaller iPhone screen -- I already have issues dragging items on a 10.5'' iPad :)

[2018-01-23 09:54] DominusExult opened #52 "HighDPi messes the "teleport to pointer" cheat feature"
Seems that allowing HighDPi messed up the right x/y coordinates for this feature.

[2018-01-23 10:56] DominusExult commented on #2
@litchie the more and more I use Exult on iOS, it proves that the movement via the d-pad and passing on the numpad keys to move the player is not the best solution. It works somewhat, and with 770fa3c (using code of your Dospad project) it has become much better.
But even better would be: A joypad that behaves like mousemovement. In Exult when you move the player through the mouse, the center is t

[2018-01-31 19:54] #52 closed, assigned to DominusExult

[2019-12-01 11:55] DominusExult opened #54 "auto pathfind movement too slow"
maybe I can speed that up.

[2020-03-29 09:50] DominusExult opened #55 "Now merged with Exult"
As of https://github.com/exult/exult/commit/596ece9425033bd7264249348d001a7beb94d22e the iOS fork has been merged into upstream Exult.
Development will continue over there.

Thanks a lot to @litchie

[2020-03-29 12:02] litchie commented on #55
That's great news. Good luck and stay safe. @DominusExult